@font-face {
    font-family: 'cooper_hewittbold';
    src: url('./assets/font/webfontkit/cooperhewitt-bold-webfont.woff2') format('woff2'),
         url('./assets/font/webfontkit/cooperhewitt-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'cooper_hewittbook';
    src: url('./assets/font/webfontkit/cooperhewitt-book-webfont.woff2') format('woff2'),
         url('./assets/font/webfontkit/cooperhewitt-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
  font-family: 'cooper_hewittbook', sans-serif;
  font-size: 22px;
}

footer div {
  padding-bottom: 1em;
}

footer div img {
  max-width: 300px;
}


.App {
  padding: 1em;
  max-width: 500px;
  color: #212121;
}

h1,h2,h3,h4,h5 {
  font-family: 'cooper_hewittbold', 'helvetica', sans-serif;
}

h3 {
  text-transform: uppercase;
}

h1 {
  margin: 0;
  font-size: 4em;
  line-height: .975;
}

span {
  animation: span-spin infinite 20s linear;
  height: 80px;
}

.intro {
  line-height: 1.3;
}

span {
  color: gold;
}
