@font-face {
    font-family: 'cooper_hewittbold';
    src: url('./assets/font/webfontkit/cooperhewitt-bold-webfont.woff2') format('woff2'),
         url('./assets/font/webfontkit/cooperhewitt-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'cooper_hewittbook';
    src: url('./assets/font/webfontkit/cooperhewitt-book-webfont.woff2') format('woff2'),
         url('./assets/font/webfontkit/cooperhewitt-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
  font-family: 'cooper_hewittbook', sans-serif;
  font-size: 15px;
  scroll-behavior: smooth;
}

@media (min-width: 400px) {
  body {
    font-size: 17px;
  }
}

@media (min-width: 600px) {
  body {
    font-size: 20px;
  }
}

footer div {
  padding-bottom: 1em;
}

footer div img {
  max-width: 300px;
}

p {
  max-width: 22em;
}

.App {
  padding: .5em;
  color: #212121;
}

@media (min-width:400px) {
  .App {
    padding: 1em;
  }
}

h1,h2,h3,h4,h5 {
  font-family: 'cooper_hewittbold', 'helvetica', sans-serif;
}

h3, h4 {
  text-transform: uppercase;
}

h1 {
  margin: 0;
  font-size: 4rem;
  line-height: .975;
}

@media (min-width:350px) {
  h1 {
    font-size: 5.8rem;
  }

}

h2 {
  font-size: 2rem;
}

@media (min-width:350px) {

  h2 {
    font-size: 2.6rem;
  }
}

h3 {
  font-size: 1.5em;
}

a {
  color: darkslategray;
  text-decoration: underline;
}

a:hover {
  color: #bfa100;
}

.partners p {
  color: slategray;
}

.spanHeightOR {
  height: 1.5em;
}

.connect svg {
  padding-right: .75em;
}



span {
  animation: span-spin infinite 20s linear;
  height: 80px;
}

.intro {
  line-height: 1.3;
}

span {
  color: gold;
}


@media (min-width:800px) {
  h2, section, footer {
    padding-left: 335px;
  }
}
